.overlay{
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    /* max-height: 80vh;
    max-width: 80vw; */
    /* width: 80%;
    height: 80%; */
    transform: translate(-50%,-50%);
}